.popup__button {
  width: 100%;
  height: 46px;
  border: 0;
  padding: 0;
  background: #000000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .popup__button {
    font-size: 18px;
    line-height: 1.22;
  }
}
